@layer base {
  :root {
    --color-background: 255 255 255; /* RGB */
    --color-foreground: 10 23 44; /* RGB */

    --color-card: 255 255 255; /* RGB */
    --color-card-foreground: 10 23 44; /* RGB */

    --color-popover: 255 255 255; /* RGB */
    --color-popover-foreground: 10 23 44; /* RGB */

    --color-primary: 28 40 68; /* RGB */
    --color-primary-foreground: 245 247 250; /* RGB */

    --color-secondary: 230 234 237; /* RGB */
    --color-secondary-foreground: 28 40 68; /* RGB */

    --color-muted: 230 234 237; /* RGB */
    --color-muted-foreground: 119 130 145; /* RGB */

    --color-accent: 230 234 237; /* RGB */
    --color-accent-foreground: 28 40 68; /* RGB */

    --color-destructive: 220 38 38; /* RGB */
    --color-destructive-foreground: 245 247 250; /* RGB */

    --color-border: 217 223 229; /* RGB */
    --color-input: 217 223 229; /* RGB */
    --color-ring: 10 23 44; /* RGB */
  }

  .dark {
    --color-background: 10 23 44; /* RGB */
    --color-foreground: 245 247 250; /* RGB */

    --color-card: 10 23 44; /* RGB */
    --color-card-foreground: 245 247 250; /* RGB */

    --color-popover: 10 23 44; /* RGB */
    --color-popover-foreground: 245 247 250; /* RGB */

    --color-primary: 245 247 250; /* RGB */
    --color-primary-foreground: 28 40 68; /* RGB */

    --color-secondary: 44 58 76; /* RGB */
    --color-secondary-foreground: 245 247 250; /* RGB */

    --color-muted: 44 58 76; /* RGB */
    --color-muted-foreground: 166 172 180; /* RGB */

    --color-accent: 44 58 76; /* RGB */
    --color-accent-foreground: 245 247 250; /* RGB */

    --color-destructive: 153 27 27; /* RGB */
    --color-destructive-foreground: 245 247 250; /* RGB */

    --color-border: 44 58 76; /* RGB */
    --color-input: 44 58 76; /* RGB */
    --color-ring: 204 210 217; /* RGB */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;